__pycache__
.idea
.DS_Store
*.egg-info
build
outputs
dist/*
.vscode

# data
data
out
wandb

torchtitan/datasets/**/*.model

# temp files
*.log
error.json
_remote_module_non_scriptable.py
models/
repo.ai.txt
torchtitan/datasets/mmlu
tests/output/
/torchtitan/csrc/fast_tensor_loader.so
/torchtitan/csrc/tensor_preloader.so
/torchtitan/csrc/distributed_tensor_loader.so
